manifest {
    homePage = 'https://gitlab.com/uit-sfb/metapipe'
    description = 'Metapipe -- Metagenomic pipeline'
    version = '0.1.0'
}

docker {
    enabled = true
    temp = 'auto'
    registry = 'registry.gitlab.com/uit-sfb/mk-metapipe-logic'
    runOptions = '-e MK_OUT=out/data -e MK_META=out/meta -e MK_TMP=/tmp -e MK_APP=/opt/docker/bin/app.sh'
}