manifest {
    homePage = 'https://gitlab.com/uit-sfb/metapipe'
    description = 'Metapipe -- Metagenomic pipeline'
    version = '0.1.0-SNAPSHOT'
}

process {
  executor='local'
  errorStrategy='finish'
}

docker {
    enabled = true
    temp = 'auto'
    registry = 'registry.gitlab.com/uit-sfb/metapipe'
    runOptions = '-e MK_MEM_BYTES=1000000000 -e MK_MEM_LIMIT_BYTES=1000000000 -e MK_CPU_INT=4 --user $(id -u) -v /home/.metapipe/refdb:/refdb'
}