manifest {
    homePage = 'https://gitlab.com/uit-sfb/metapipe'
    description = 'Metapipe -- Metagenomic pipeline'
    version = '0.1.0'
}

docker {
    enabled = true
    temp = 'auto'
    registry = 'registry.gitlab.com/uit-sfb/metapipe'
    runOptions = '-e MK_MEM_BYTES=1000000000 -e MK_MEM_LIMIT_BYTES=1000000000 -e MK_CPU_INT=8 --user 1000'
}