executor {
  name = 'local'
  $local {
    cpus = 8
    memory = '48 GB'
    queueSize = 1
  }
}

process {
  withLabel: 'assembly' {
    ext.slices = 4
  }
  withName: 'Megahit' {
    cpus = 8
  }
  withName: 'KaijuProc' {
    cpus = 8
  }
  withLabel: 'functional_assignment' {
    ext.slices = 4
  }
  withName: 'DiamondProc' {
    cpus = 8
  }
  withName: 'InterproscanProc' {
    cpus = 8
  }
}
